.about {
    margin-top: 80px;
    padding: 40px 0 80px;
    background: linear-gradient(to top, $blue 50%, #F5F9FF 50%);

    &__inner {
        display: flex;
        justify-content: space-between;
        border-radius: 16px;
        background-color: #fff;
        margin-bottom: 40px;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            top: 24px;
            right: 24px;
            width: 88px;
            height: 88px;
            background-image: url(../images/about/affter.png);
        }
    }

    &__content {
        padding: 32px;
    }

    &__img {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }

    &__text-bottom {
        margin-top: 16px;
    }

    &__description {
        color: #fff;
        @extend %manrope-700;
        font-size: 19px;
        line-height: 32px;
        min-height: 96px;
    }
}

#about {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: $accent;
    color: #fff;
    transition: all .3s;

    &:hover {
        background-color: $blue;
    }
}

.evolution {
    padding: 80px 0;
    background-color: #fff;

    &__wrapper {
        background-color: #F5F9FF;
        border-radius: 16px;
        padding: 32px 40px;
        display: flex;
    }

    &__info {
        margin: 35px 80px 35px 0;
        width: 50%;
    }

    &__info-title {
        @extend %manrope-400;
        font-size: 32px;
        line-height: 40px;
        color: $blue;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 40px;
    }

    .close,
    #close {
        display: none;
    }

    .text-open {
        position: relative;
        margin-bottom: 40px;
        padding: 0;
        animation-name: animatext;
        animation-duration: 0.5s
    }

    @keyframes animatext {
        from {
            right: -300px;
            opacity: 0
        }

        to {
            right: 0;
            opacity: 1
        }
    }

    .timeline {
        &__list {
            display: flex;
            position: relative;
            width: 480px;
        }

        &__list::before {
            position: absolute;
            content: "";
            height: 2px;
            width: 100%;
            top: 16px;
            border-bottom: 2px solid #c2c2c2;
        }

        &__list::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 12px solid #c2c2c2;
            left: 480px;
            top: 10px;
        }

        &__year {
            padding-top: 40px;
            position: relative;
            display: block;
            font-size: 16px;
            line-height: 20px;
            color: #000;
        }

        &__year::before {
            position: absolute;
            content: "";
            width: 32px;
            height: 32px;
            border: 2px solid #c2c2c2;
            border-radius: 50px;
            top: 0;
            background-color: #fff;
            cursor: pointer;
        }



        &__year:hover::before {
            border: 2px solid #4c70b5;
        }

        &__year-one {
            margin-right: 86px
        }

        .year::before {
            background-color: #4c70b5;
            border-color: transparent;
        }

        &__year-two {
            margin-right: 78px
        }

        &__year-three {
            margin-right: 130px;
        }

        .two-open,
        .three-open,
        .four-open {
            &:before {
                background-color: #4c70b5;
                border-color: transparent;
            }
        }
    }

    &__video {
        width: 600px;
        border-radius: 16px;
        background-image: url("../images/example/video-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.machine {
    padding-bottom: 100px;
    @extend %slider;

    .swiper {
        width: 100%;
        margin: 0 auto;
        position: initial;
    }

    &__slider-item {
        display: flex;
        border-radius: 16px;
    }

    &__slider-img {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }

    &__slider-content {
        margin: 40px;
    }

    &__slider-title {
        font-size: 32px;
        line-height: 40px;
        color: $blue;
        @extend %manrope-700;
        margin-bottom: 20px;
    }
    &__slider-text{
     margin-bottom: 16px;
    }
    &__slider-link{
     color: $accent;
     border-bottom: 1px solid $accent;
     transition: all .4s;
     &:hover{
      color: $blue;
      border-bottom: 1px solid $blue;
     }
    }
}

@media (max-width:1050px) {
    .about {
        &__img {
            width: 50%;
        }
    }
}

@media (max-width:940px) {
    .about {
        &__inner {
            flex-direction: column-reverse;
        }

        &__img {
            width: 100%;
            border-top-left-radius: 16px;
            border-bottom-right-radius: 0;
            min-height: 288px;
            height: auto;
        }
    }
}

.evolution {
    &__info {
        width: 40%;
    }

    .timeline {
        &__list {
            width: 350px;

            &::after {
                left: 350px;
            }
        }

        &__year-one {
            margin-right: 44px;
        }

        &__year-two {
            margin-right: 40px;
        }

        &__year-three {
            margin-right: 60px;
        }
    }
}

@media (max-width:860px) {
    .about {
        margin-top: 0;
    }

    .evolution {
        padding: 40px 0;

        &__wrapper {
            flex-direction: column-reverse;
            padding: 20px;
        }

        &__info-wrapper {
            min-width: 158px;
            width: auto;
        }

        &__video {
            width: 100%;
            min-height: 180px;
            height: 360px;
        }

        &__info {
            display: flex;
            width: 100%;
            flex-direction: row-reverse;
            margin: 35px 0 0 0;
        }

        &__info-title {
            font-size: 30px;
            line-height: 36px
        }

        &__text {
            font-size: 16px;
            line-height: 24px;
        }

        .timeline {
            &__list {
                flex-direction: column-reverse;
                width: 100%;

                &::before {
                    transform: rotate(-90deg);
                    top: 115px;
                    right: -2px;
                    width: 180%
                }

                &::after {
                    transform: rotate(-90deg);
                    left: 10px;
                    top: -15px;
                }

            }

            &__year {
                padding-left: 40px;

                &::before {
                    left: 0;
                    top: 32px;
                }
            }
        }

        &__info-box {
            margin-top: 40px;
        }

        .text-open {
            animation-duration: 0.6s;
        }

        @keyframes animatext {
            from {
                top: -300px;
                opacity: 0;
            }

            to {
                top: 0;
                opacity: 1;
            }
        }
    }
}



@media (max-width:600px) {
    .about {
        padding: 20px 0 40px;

        &__inner {
            &::after {
                position: absolute;
                content: "";
                top: 24px;
                right: 24px;
                width: 56px;
                height: 56px;
                background-image: url(../images/about/after_mobile.png);
            }
        }

        &__content {
            padding: 20px;
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
        }

        &__description {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .evolution {
        &__video {
            height: auto;
        }

        &__info-title {
            font-size: 24px;
            line-height: 32px;
        }

        &__text {
            font-size: 12px;
            line-height: 20px;
        }
    }
}

@media (max-width:480px) {
    .evolution {
        .timeline {
            &__list {
                &::before {
                    top: 118px;
                    right: -41px;
                    width: 251%;
                }

            }

            &__year {
                margin-right: 22px;
            }
        }
    }
}