html,
body {
    height: 100%;

}

body {
    position: relative;
    @extend %roboto-400;
    font-size: 16px;
    line-height: 24px;
    color: $default;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 15px;
}

.swiper-global-container {
    flex: 1;
    position: relative;
    max-width: 1310px;
    margin: 0 auto;
}

a {
    @extend %manrope-700;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

h1 {
    @extend %manrope-700;
    font-size: 56px;
    line-height: 64px;
    color: $default;
}

.title {
    @extend %manrope-700;
    font-size: 40px;
    line-height: 56px;
    color: $default;
    margin-bottom: 40px;
}
.hidden{
 overflow: hidden;
}

