@media (max-width:1270px) {

    .product .content {
        margin: 20px;
    }

    .product {

        &__slider-items {
            grid-gap: 15px;
        }

        &__slider-item {
            min-width: 290px;
            width: auto;
        }

        .content {
            margin: 20px;

            &__title {
                font-size: 28px;
                line-height: 32px;
            }

            &__linkbox {
                padding-right: 0;
            }
        }
    }
}

@media (max-width:1230px) {
    .header {
        &__slider-title {
            font-size: 46px;
            line-height: 58px;
        }
    }

    .swiper-global-container {
        max-width: 1140px;

        .container {
            max-width: 1070px;
        }
    }
}



@media (max-width:1150px) {

    .search {
        display: none;
    }

    .product {
        padding: 40px 0;

        .none {
            display: none;
        }

        &__slider-item {
            // width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__slider-items {
            display: block !important;
        }

        .content {
            &__linkbox {
                flex-direction: column;
            }

            &__link {
                margin: 0 0 20px 0;
            }
        }

        &__slider-img {
            margin-left: 200px;
        }
    }

    .production {
        &__item-link {
            margin: 0 20px;
        }
    }

    .footer {
        &__list {
            flex-wrap: wrap;
        }
    }
}

@media (max-width:1050px) {

    .header__slider {
        padding-bottom: 40px;
    }

    .header__slider-title {
        font-size: 38px;
        line-height: 52px;
    }

    .production {
        padding: 40px 0;

        &__title {
            font-size: 36px;
            line-height: 40px;
        }

        &__items {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
        }

        .production__item+.production__item {
            margin-left: 0;
        }

        &__item {
            width: 100%;
        }

        &__item-link {
            margin-bottom: 30px;
        }
    }
}

@media (max-width:1000px) {
    .slider-container {
        flex-direction: column;
    }

    .header {
        .swiper {
            margin: 0;
        }

        .swiper-wrapper {
            width: 100%;
        }

        &__slider-item {
            width: 100%;

        }
    }

    .example {
        padding-top: 40px;

        &__slider-items {
            grid-gap: 20px;
        }

        .demonstration {
            padding: 80px 0 40px;

            &__wrapper {
                flex-direction: column;
            }

            &__content {
                padding: 24px 16px;
            }

            &__video {
                min-height: 330px;
                height: auto;
                margin-right: 0;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                border-bottom-left-radius: 0;
            }

            &__text-bottom {
                margin-bottom: 24px;
            }

            &__link {
                display: block;
            }
        }
    }

    .stages {

        &__inner {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        &__link {
            grid-column: span 2;
        }

        .center {
            &::after {
                content: none;
            }

            &::before {
                content: none;
            }
        }

        .before {

            &::before {
                content: none;
            }
        }
    }

    .client {
        &__content {
            padding: 26px;
        }

        &__content-title {
            font-size: 28px;
            line-height: 34px;
        }

        &__content-text {
            line-height: 22px;
        }

        .order {
            .client__content-title {
                font-size: 32px;
                line-height: 40px;
            }

            .client__img {
                width: 30%;
            }
        }
    }

    .comments {
        &__slider-item {
            flex-direction: column;
        }
    }
}

@media (max-width:860px) {

    .header {
        &__top {
            position: initial;
        }

        .menu {
            order: 1;

            &__btn {
                display: block;
                width: 30px;
                height: 30px;
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                cursor: pointer;
                margin-right: 20px;
                margin-left: auto;
                margin-top: 16px;
                transform: rotate(0deg);
                transition: .5s ease-in-out;

                span {
                    position: absolute;
                    width: 22px;
                    height: 4px;
                    background-color: $blue;
                    border-radius: 16px;
                    left: 4px;
                    opacity: 1;
                }
            }

            .menu__btn::after,
            .menu__btn::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 4px;
                background-color: $blue;
                right: 3px;
                border-radius: 16px;
            }

            .menu__btn::after {
                bottom: 0;
            }

            .menu__btn::before {
                top: 0;
            }

            &__box {
                transform: translateY(-500%);
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                text-align: center;
                transition: all .5s;
            }

            &__box-text {
                display: none;
            }

            &__list {
                flex-direction: column;
                align-items: center;
                z-index: 5;
                background-color: #E5E5E5;

            }

            .menu__box--active {
                transform: translateY(0);
            }

            .menu__list-item+.menu__list-item {
                margin-left: 0;
            }

            &__list-item {
                margin-bottom: 16px;
            }
        }

        .contacts {
            margin-left: 40px;
        }

        &__slider {
            padding: 30px 0;
        }

        &__slider-content {
            padding-top: 0;
        }

        &__slider-title {
            font-size: 36px;
            line-height: 48px;
            margin-bottom: 20px;
        }

        &__slider-text {
            font-size: 18px;
            line-height: 24px;
        }

        .linkbox {
            display: none;
        }

        .linkbox-off {
            display: flex;
            flex-direction: column;
            align-items: center;


            .linkbox__link {
                width: 100%;
                margin: 12px;
            }
        }
    }

    .production {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }

        &__title {
            font-size: 28px;
        }

        &__item-title {
            font-size: 22px;
            line-height: 28px;
        }
    }

    .product {
        &__slider-item {
            display: block;
            text-align: center;
            min-height: 484px;
            height: auto;
            padding-top: 24px;
        }

        &__slider-img {
            margin-left: 0;
            width: 100%;
            height: 434px;
        }

        .content {
            padding: 20px;
            margin: 0;

            &__title {
                font-size: 24px;
                line-height: 32px;
            }

            &__linkbox {
                margin: 0 auto;
            }
        }
    }

    .product,
    .example,
    .comments,
    .customers {
        .prev {
            left: -15px;
            padding: 16px;
        }

        .next {
            right: -15px;
            padding: 16px;
        }
    }

    .title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 16px;
    }

    .example {

        .prev,
        .next {
            top: 50%;
        }

        &__slider {
            min-height: 720px;
            height: auto;
        }

        &__slider-items {
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-rows: 310px auto auto;

            .content {
                grid-column: span 7;
                grid-row: 3;
                padding: 40px;
                text-align: center;

                &__title {
                    font-size: 24px;
                    line-height: 32px;
                }

                &__box {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap: 16px;
                    grid-row-gap: 20px;
                    text-align: left;
                }

                &__box-number {
                    font-size: 20px;
                    line-height: 24px;
                }

                &__box-info {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }

        &__slider-bigimg {
            grid-column: span 3;
            grid-row: 1;
            border-radius: 16px;
        }

        &__slider-minimg {
            grid-row: 2;
            grid-column: span 7;
        }

        .min {
            grid-row: 1;
            grid-column: span 4;
            object-fit: unset;
        }
    }

    .client {
        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 16px;
        }

        .order {
            flex-direction: column;
            align-items: center;
            min-height: 280px;
            height: auto;

            .client__content {
                margin-bottom: 16px;
                display: flex;
                flex-direction: column;
            }

            .client__img {
                width: 100%;
                padding: 0 60px;
                margin-right: 0;
            }

            .client__link {
                width: 100%;
            }
        }
    }

    .comments {
        padding: 20px 0 40px;

        .dn {
            display: none;
        }

        &__slider-items {
            display: block;
        }

        &__slider-item {
            max-width: 100%;
        }

        &__img {
            margin-bottom: 16px;
        }

        &__form {
            margin-top: 80px;
            padding-bottom: 0;
        }

        &__form-box {
            padding: 20px 20px 24px 20px;
            width: 100%;
        }

        &__form-img {
            display: none;
        }
    }

    .footer {
        &__list {
            flex-direction: column;
            padding: 40px 0;
        }

        &__logo {
            margin: 0 0 32px 0;
        }

        &__items {
            margin-right: 0;
            margin-bottom: 32px;
        }

        &::after {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            width: 208px;
            height: 104px;
            background-image: url(../images/rect.png);
            background-repeat: no-repeat;
            top: 0;
            left: 30%;
        }
    }
}

@media (max-width:680px) {

    .production {
        &__items {
            margin: 0;
        }

        &__item {
            height: auto;
            min-height: 364px;
        }

        &__item-link {
            margin-bottom: 24px;
        }

        &__title {
            font-size: 24px;
        }

        &__item-title {
            font-size: 20px;
            line-height: 24px;
        }
    }

    .stages {
        padding-bottom: 40px;

        &__inner {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }

        &__link {
            grid-column: span 1;
        }

        #cart+#cart {
            padding: 20px 16px;
            align-items: center;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 2px;
                height: 20px;
                background-color: #4c70b5;
                top: -20px;
                right: 50%;
                left: 50%;
            }
        }

        &__process {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .customers {
        padding: 20px 0 40px;
    }
}

@media (max-width:600px) {
    .header {
        .contacts {
            display: none;
        }

        &__slider-item {
            height: auto;
            min-height: 210px;
        }

        &__slider-title {
            font-size: 28px;
            line-height: 38px;
            margin-bottom: 12px;
        }

        &__slider-text {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 12px;
        }

        .lotbox {
            justify-content: space-between;
            margin-bottom: 0;

            &__info {
                font-size: 18px;
                line-height: 24px;

                span {
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }


        &__slider-img {

            width: 100%;
        }

        &__slider-item {

            &::after {
                background-image: url(../images/slider/after.png);
                top: 24px;
                left: 20px;
                width: 128px;
                height: 128px;
            }

            &::before {
                background-image: url(../images/slider/before.png);
                width: 210px;
                height: 210px;
                bottom: 30px;
                right: 0;
            }
        }
    }

    .product {
        &__slider-img {
            height: 310px;
        }
    }

    .example {
        .demonstration {
            &__video {
                min-width: 288px;
                min-height: 240px;
            }
        }
    }

    .example {
        &__slider-items {
            grid-template-rows: 216px 216px 216px;
        }

        &__slider-minimg,
        .min,
            {
            height: 216px;
        }

        .content {
            height: auto;
            min-height: 216px;
        }
    }

    .client {
        padding: 40px 0;

        &__content-title {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 8px;
        }

        &__content-text {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .comments {

        .swiper-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: -40px;
        }
    }
}

@media (max-width:460px) {

    .product .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -32px;
    }

    .header {

        &__slider-title {
            font-size: 24px;
            line-height: 32px;
        }

        &__slider-text {
            font-size: 14px;
            line-height: 20px;
        }

        .lotbox {
            margin-bottom: 16px;

            &__info {
                font-size: 14px;
                line-height: 20px;

                span {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }

    .product {
        &__slider-img {
            height: 189px;
        }

        .content {
            &__link {
                margin-bottom: 15px;
            }
        }
    }

    .example {
        padding-top: 20px;

        &__slider-items {
            grid-gap: 8px;
        }

        .content {
            padding: 20px;
        }
    }

    .product,
    .example,
    .comments,
    .customers {
        .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
        }

        .prev,
        .next {
            padding: 12px;
        }
    }

    .client {
        &__content {
            padding: 16px;
        }

        &__content-title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 8px;
        }

        &__content-text {
            font-size: 12px;
            line-height: 16px;
        }

        .order {
            .client__content {
                margin-bottom: 0;
            }
        }
    }

    .comments {
        &__form-btn {
            width: 100%;
        }

        &__form-label {
            margin-bottom: 20px;
        }

        &__form-checkbox {
            margin-bottom: 20px;
        }
    }

    .footer {
        .form {
            width: 100%;

            &__input {
                min-width: 100%;
            }

            &__btn {
                width: 100%;
            }
        }
    }
}