.price {
    padding-top: 120px;
    background: linear-gradient(to bottom, #4C70B5 50%, #F5F9FF 50%);

    &__top-link {
        color: #fff;
        @extend %roboto-400;
        margin-bottom: 20px;
        display: inline-block;
        padding: 2px 6px 2px 28px;
        border: 1px solid transparent;
        position: relative;
        transition: all .3s;


        &:hover {
            font-size: 18px;
            border: 1px solid #fff;
            border-radius: 4px;
        }

        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            left: 4px;
            top: 5px;
            background-image: url(../images/product-list/arrow.svg);
            background-repeat: no-repeat;
        }

    }

    &__top-wrapper {
        background-color: #fff;
        padding: 40px;
        border-radius: 16px;
        display: flex;
    }

    &__top-title {
        display: inline-block;
        padding-right: 90px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 64px;
            height: 64px;
            right: 0;
            top: 0;
            background-image: url(../images/production-list/after.png);
        }
    }

    &__top-text {
        margin-bottom: 16px;
    }

    .order-box {
        display: flex;

        &__btn {
            @extend %btnred;
            margin: 0 24px 0 0;
        }

        &__title {
            @extend %manrope-700;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 4px;

            span {
                display: block;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}

.price-list {
    margin-top: 80px;

    &__table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 56px;

        td {
            padding: 12px 0 12px 16px;
            border-left-color: inherit;
        }

        tr:nth-child(1) {
            border: 1px solid #4C70B5;
            color: $blue;
            @extend %roboto-700;
        }

        tr:nth-child(2),
        tr:nth-child(7) {
            @extend %roboto-700;
        }

        tr {
            border: 1px solid #DADADA;
        }

        .color-alt {
            background: #F3F3F3;
        }
    }

    &__link {
        @extend %btnblue;
    }
}

.advantages {
    padding: 80px 0;

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;
    }

    &__item {
        padding: 40px;
        background-color: #F5F9FF;
        border-radius: 16px;
    }

    &__item-title {
        @extend %manrope-400;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 20px;
    }
}

.production-list {
    background: linear-gradient(to top, #F5F9FF 60%, #fff 40%);

    &__info {
        display: flex;
        border-radius: 16px;
        background-color: #fff;
        margin-bottom: 80px;
    }

    &__img {
        object-fit: cover;
        background-repeat: no-repeat;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
    }

    &__content {
        margin: 40px;

    }

    &__info-title {
        margin-bottom: 24px;
    }

    &__info-text {
        margin-bottom: 16px;
    }

    &__cycle {
        padding-bottom: 80px;
    }

    &__cycle-items {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }

    &__cycle-item {
        display: flex;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.04);
        border-radius: 16px;
        width: 350px;
        padding: 24px;
        line-height: 20px;
    }

    &__cycle-img {
        width: 64px;
        height: 64px;
        margin-right: 28px;
    }
}

#mainCarousel {
    width: 440px;
    height: 440px;
    margin: 0 40px 16px auto;

    .carousel__slide-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
}

#mainCarousel .carousel__slide {
    width: 440px;
    height: 440px;
    padding: 0;

    &__slide-img {
        width: 440px;
        height: 440px;
    }
}

#thumbCarousel .carousel__slide {
    opacity: 0.5;
    padding: 0;
    margin: 0.25rem;
    width: 80px;
    height: 80px;
}

#thumbCarousel .carousel__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#thumbCarousel .carousel__slide.is-nav-selected {
    opacity: 1;
}


.carousel__button.is-next,
.carousel__button.is-prev {
    display: none;
}

.order-list {
    padding: 80px 0;

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 286px;
        height: 452px;
        background-color: #F5F9FF;
        border-radius: 16px;
    }

    &__item-img {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }

    &__content {
        padding: 24px 24px 0;
    }

    &__content-title {
        font-size: 32px;
        line-height: 40px;
        @extend %manrope-700;
        color: $blue;
        margin-bottom: 12px;
    }
}

.map {
    padding: 40px 0 80px;

    &__inner {
        display: flex;
    }

    &__contacts {
        margin-right: 32px;
    }

    &__contact {
        padding-left: 32px
    }

    &__contact-phone,
    &__contact-adress,
    &__contact-time {
        position: relative;
        font-size: 14px;
        line-height: 16px;
        color: #202020;
    }

    &__contact-email {
        @extend %roboto-400;
        color: $blue;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../images/icons/mail.svg);
            left: -32px;
            top: -2px;
        }
    }

    span {
        display: block;
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 20px;
        color: $blue;
    }

    &__contact-phone::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url(../images/icons/phone.svg);
        left: -32px;
        top: 8px;
    }

    &__contact-time::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url(../images/icons/time.svg);
        left: -32px;
        top: 8px;
    }

    &__contact-adress::before {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url(../images/icons/adress.svg);
        left: -32px;
        top: px;
    }


    iframe {
        border-radius: 16px;
    }

    &__cart {
        min-width: 900px;
        height: 400px;
    }
}

@media (max-width: 1200px) {

    .order-list {
        &__items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 30px;
        }

        &__item {
            max-width: 100vh;
        }
    }

    .map {
        &__cart {
            min-width: 750px;
        }
    }
}


@media (max-width: 1140px) {
    .price {
        .order-box {
            flex-direction: column;

            &__btn {
                margin-bottom: 16px;
            }
        }
    }
}

@media (max-width: 1090px) {
    .production-list {
        &__info {
            flex-direction: column-reverse;
        }

        &__content {
            margin: 0 20px 16px;
        }

        &__img {
            border-radius: 16px;
            height: 70vh;
        }
    }

    .map {
        &__cart {
            min-width: 600px;
        }
    }
}

@media (max-width: 980px) {
    .price {
        &__top-wrapper {
            padding: 16px;
        }
    }

    .price-list {
        margin-top: 40px;
    }

    .advantages {
        padding: 60px 0 40px;
    }

    .production-list__info {
        margin-bottom: 40px;
    }

    .production-list__cycle {
        padding-bottom: 40px;
    }

    .order-list {
        padding: 40px 0;
    }

    .map {
        padding: 20px 0 40px;
    }
}

@media (max-width: 860px) {
    .price {
        padding-top: 20px;

        &__top-wrapper {
            flex-direction: column-reverse;
        }

        &__top-title {
            &::after {
                top: -15px;
                right: -20px;
            }
        }
    }

    .order-box {
        margin-bottom: 20px;
    }

    #mainCarousel {
        margin: 0 auto 16px;
    }

    .advantages {
        &__items {
            grid-gap: 16px;
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            padding: 10px;
        }

        &__item-title {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 10px;
        }
    }

    .production-list {
        &__img {
            height: 100%;
            object-fit: contain;
        }
    }

    .map {
        &__inner {
            flex-direction: column;
        }

        &__contacts {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 780px) {
    .production-list {
        &__cycle-item {
            width: 100%;
            padding: 20px;
        }
    }

    .map {
        &__cart {
            min-width: 280px;
            width: auto;
        }
    }
}

@media (max-width: 600px) {
    #mainCarousel {
        min-width: 240px;
        width: auto;
        min-height: 300px;
        height: auto;

        .carousel__slide {
            height: 330px;
        }
    }

    #thumbCarousel .carousel__slide {
        width: 52px;
        height: 52px;
    }

    .price {
        .order-box__btn {
            margin-right: 0;
            padding: 16px;
        }
    }

    .order-list {
        &__items {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
        }
    }
}