$accent:#D44D60;
$default:#202020;
$blue:#4C70B5;

%roboto-400 {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

%roboto-700 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}

%roboto-500 {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

%roboto-300 {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
}

%manrope-700 {
    font-family: 'Manrope-Bold', sans-serif;
    font-weight: 700;
}

%manrope-400 {
    font-family: 'Manrope-Regular', sans-serif;
    font-weight: 400;
}