$accent:#D44D60;
$default:#202020;
$blue:#4C70B5;

%roboto-400 {
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

%roboto-700 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}

%roboto-500 {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}

%roboto-300 {
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 300;
}

%manrope-700 {
    font-family: 'Manrope-Bold', sans-serif;
    font-weight: 700;
}

%manrope-400 {
    font-family: 'Manrope-Regular', sans-serif;
    font-weight: 400;
}


%btnblue {
    padding: 16px 40px;
    border: 1px solid #4C70B5;
    border-radius: 8px;
    align-items: center;
    // margin: 0 auto;
    color: $blue;
    transition: all .3s;
    text-align: center;

    &:hover {
        color: #fff;
        background-color: $blue;
    }
}

%btnred {
    padding: 16px 40px;
    border: 1px solid #D44D60;
    border-radius: 8px;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    transition: all .3s;
    text-align: center;
    background-color: $accent;

    &:hover {
        color: $accent;
        background-color: #fff;
    }
}

%slider {

    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
        //content: 'next';
        display: none;
    }

    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
        //content: 'prev';
        display: none;
    }


    .prev {
        position: absolute;
        padding: 20px;
        border: 1px solid #C2C2C2;
        border-radius: 50%;
        top: 50%;
        left: -40px;
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("../images/slider/prev.svg") no-repeat center;
        width: 20px;
        height: 20px;

        &:focus {
            background-color: $accent;
            border: none;
        }

        &:hover {
            background-color: #fff;
            border: 1px solid #D44D60;
            ;
        }
    }

    .next {
        position: absolute;
        padding: 20px;
        border: 1px solid #C2C2C2;
        border-radius: 50%;
        top: 50%;
        right: -40px;
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("../images/slider/next.svg") no-repeat center;
        width: 20px;
        height: 20px;

        &:focus {
            background-color: $accent;
            border: none;
        }

        &:hover {
            background-color: #fff;
            border: 1px solid #D44D60;
            ;
        }
    }

    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
        background: url("../images/slider/prev.svg") no-repeat center;
        width: 20px;
        height: 20px;
        // background-size: 23px 40px;
        overflow: hidden;
    }

    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
        background: url("../images/slider/next.svg") no-repeat center;
        width: 20px;
        height: 20px;
        // background-size: 23px 40px;
        overflow: hidden;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: -48px;
    }

    .swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 8px;
    }


    .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        background-color: #fff;
        border: 1px solid #C2C2C2;
        border-radius: 50%;
    }

    .swiper-pagination-bullet-active {
        background-color: $accent;
        border: none;
    }
}