@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';
@import 'about';
@import 'menu';
@import 'modal';

.header {
    .linkbox-off {
        display: none;
    }

    &__top {
        width: 100%;
        background-color: #fff;
        position: fixed;
        top: -6px;
        z-index: 10;
        padding: 14px 0;
        box-shadow: 0px 4px 16px rgba(24, 24, 24, 0.08);
    }

    &__top-inner {
        display: flex;
        justify-content: space-between;
    }

    &__menu-inner {
        display: flex;
        justify-content: space-between;
        width: 1130px;
    }

    .logo {
        display: block;
        margin-right: 30px;
    }

    .menu {
        .services {
            position: relative;
        }

        &__btn {
            display: none;
        }

        &__box-text {
            position: relative;
            @extend %roboto-300;
            font-size: 12px;
            line-height: 24px;
            color: #7C7C7C;
            margin-bottom: 4px;
            padding-left: 16px;

            &::after {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background-image: url(../images/icons/pin.svg);
                left: 0;
                top: 6px;
            }
        }

        &__box-link {
            @extend %roboto-700;
            font-size: 12px;
            line-height: 24px;
            color: $accent;
            text-decoration: underline;
        }

        &__list {
            display: flex;
            justify-content: space-between;
        }

        &__list-item {
            position: relative;
            margin-right: 16px;
        }

        .services {
            .sub-menu {
                display: none;
            }
        }

        .services--active {
            .sub-menu {
                display: block;
            }
        }

        &__list-link {
            font-size: 14px;
            line-height: 16px;
            transition: all .3s;
            color: $default;
            @extend %roboto-300;

            &:hover {
                color: $accent;
            }
        }

        .about-link--active {
            padding: 4px 8px;
            border-radius: 4px;
            background-color: $accent;
            color: #fff;
            transition: all .3s;
        }
    }

    .search {
        margin: auto 40px;
        border: 1px solid #4C70B5;
        border-radius: 4px;
        width: 280px;
    }

    .form {
        width: 100%;
        color: #C2C2C2;
        font-size: 14px;
        line-height: 16px;
        position: relative;

        input {
            border: 1px solid transparent;
            font: inherit;
            padding: 8px 0;
            width: 100%;
            padding-left: 32px;
            outline-color: $blue;

            &:focus::placeholder {
                color: transparent;
            }

            &:hover {
                border: 1px solid #4C70B5;
                transition: all .3s;
                border-radius: 4px;
            }
        }

        button {
            background-color: inherit;
            border: none !important;
            position: absolute;
            top: 6px;
            left: 4px;
        }
    }

    .contacts {
        display: flex;
        justify-content: space-between;

        span,
        &__phone,
        &__email {
            display: block;
            text-align: left;
        }

        &__phone {
            position: relative;
            margin-right: 32px;
            @extend %roboto-400;
            font-size: 16px;
            line-height: 20px;
            color: $blue;
            padding-left: 32px;
            margin-top: 5px;

            &::after {
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                background-image: url(../images/icons/phone.svg);
                left: 0;
                top: 12px;
            }

            span {
                font-size: 14px;
                line-height: 16px;
                color: $default;
                margin-top: 4px;
            }
        }


        &__email {
            position: relative;
            @extend %roboto-400;
            font-size: 16px;
            line-height: 20px;
            color: $blue;
            padding-left: 32px;

            &::after {
                content: "";
                position: absolute;
                width: 24px;
                height: 24px;
                background-image: url(../images/icons/mail.svg);
                left: 0;
                top: 12px;
            }

            span {
                font-size: 12px;
                line-height: 14px;
                color: #7C7C7C;
                margin-top: 4px;
            }
        }
    }

    .slider-container {
        display: flex;
        justify-content: space-between;
    }

    &__slider {
        padding-top: 38px;
        padding-bottom: 120px;
    }

    .swiper-wrapper {
        width: 540px;
    }

    &__inner {
        width: 100%;
    }

    &__slider-item {
        display: flex !important;
        justify-content: space-between;
        position: relative;
        min-height: 670px;

        &::after {
            content: "";
            position: absolute;
            right: 355px;
            top: 44px;
            left: 0;
            background-image: url(../images/slider/after.svg);
            background-repeat: no-repeat;
            width: 272px;
            height: 272px;
        }

        &::before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            background-image: url(../images/slider/before.svg);
            background-repeat: no-repeat;
            width: 448px;
            height: 563px;
        }
    }

    &__slider-title {
        margin-bottom: 42px;
    }

    &__slider-content {
        padding-top: 80px;
    }

    &__slider-text {
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 28px;
    }


    &__slider-img {
        object-fit: contain;
        z-index: 1;
        display: block;
    }

    .lotbox {
        display: flex;

        &__item {
            margin-bottom: 40px;
            margin-right: 40px;
        }

        &__info {
            font-size: 24px;
            line-height: 32px;
            @extend %manrope-700;
            color: $blue;
            margin-bottom: 8px;

            span {
                display: block;
                font-size: 16px;
                line-height: 20px;
                color: $default;
                @extend %roboto-400;
            }
        }
    }

    .linkbox {
        display: flex;

        &__link {
            padding: 16px 38px;
            border: 1px solid #D44D60;
            border-radius: 8px;
            align-items: center;
            color: $accent;
            transition: all .3s;
            text-align: center;
            margin-right: 32px;

            &:hover {
                color: #fff;
                background-color: $accent;
            }
        }

        &__link-red {
            color: #fff;
            background-color: $accent;

            &:hover {
                color: $accent;
                background-color: #fff;
            }
        }
    }
}

.production {
    background-color: #F5F9FF;
    padding: 80px 0;

    &__items {
        display: flex;
        justify-content: space-between;

    }

    .production__item+.production__item {
        margin-left: 32px;
    }

    &__item {
        min-height: 556px;
        box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.04);
        border-radius: 16px;
        width: 33.333%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    &__img {
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        max-width: 100%;
        margin-bottom: 24px;
    }

    &__item-title {
        @extend %manrope-700;
        color: $blue;
        font-size: 24px;
        line-height: 32px;
        margin: 0 32px 12px;
    }

    &__item-text {
        margin: 0 32px 24px;
    }

    &__item-link {
        padding: 16px 40px;
        border: 1px solid #4C70B5;
        border-radius: 8px;
        align-items: center;
        margin: 0 auto;
        color: $blue;
        transition: all .3s;
        text-align: center;

        &:hover {
            color: #fff;
            background-color: $blue;
        }
    }

    &__item-link--blue {
        color: #fff;
        background-color: $blue;

        &:hover {
            color: $blue;
            background-color: #fff;
        }
    }
}

.product {
    padding: 80px 0;
    @extend %slider;

    .swiper {
        width: 100%;
        margin: 0 auto;
        position: initial;
    }

    &__slider-items {
        display: grid !important;
        grid-gap: 32px;
        grid-template-columns: repeat(2, 2fr);
    }

    &__slider-item {
        display: flex;
        justify-content: space-between;
        background-color: #F5F9FF;
        border-radius: 16px;
    }

    &__slider-img {
        object-fit: contain;
        width: 28%;
    }

    .content {
        margin: 40px 28px 40px 40px;

        &__title {
            @extend %manrope-400;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 20px;
        }

        &__linkbox {
            display: flex;
            justify-content: space-between;
            padding-right: 24px;
        }

        &__link {
            padding: 16px 40px;
            border: 1px solid #D44D60;
            border-radius: 8px;
            align-items: center;
            margin: 0 auto;
            color: $accent;
            transition: all .3s;
            text-align: center;
            background-color: #fff;

            &:hover {
                color: #fff;
                background-color: $accent;
            }
        }

        &__link-red {
            color: #fff;
            background-color: $accent;
            margin-right: 16px;

            &:hover {
                color: $accent;
                background-color: #fff;
            }
        }
    }
}

.example {
    padding-top: 80px;
    @extend %slider;

    .swiper {
        max-width: 1230px;
        margin: 0 auto;
        position: initial;
    }

    &__slider-items {
        display: grid;
        min-height: 588px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 32px;
    }

    &__slider-bigimg {
        grid-row: span 2;
        grid-column: span 3;
        height: 100%;

    }

    &__slider-minimg {
        height: 308px;
        grid-column: span 3;
    }

    .min {
        object-fit: cover;
        width: 100%;
        grid-column: span 2;
        border-radius: 16px;
    }

    .content {
        grid-column: span 5;
        background-color: #F5F9FF;
        border-radius: 16px;
        padding: 64px 150px 64px 40px;

        &__title {
            @extend %manrope-400;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 20px;
        }

        &__box {
            display: flex;
            justify-content: space-between;
        }

        &__box-info {
            display: block;
        }

        &__box-number {
            @extend %manrope-700;
            font-size: 24px;
            line-height: 32px;
            color: $blue;
        }

        &__box-info {
            @extend %roboto-400;
            font-size: 16px;
            line-height: 24px;
            color: $default;
            margin-top: 4px;
        }
    }

    .demonstration {
        padding: 120px 0 80px;
        background: linear-gradient(to top, #F5F9FF 50%, #fff 50%);

        &__wrapper {
            display: flex;
            justify-content: space-between;
            border-radius: 16px;
            box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.04);
            background-color: #fff;
        }

        &__video {
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            margin-right: 40px;
            min-width: 560px;
            background-image: url("../images/example/video-bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 80px;
                height: 80px;
                box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.04);
            }
        }

        &__content {
            padding: 40px 40px 40px 0;
        }

        &__text {
            margin-bottom: 16px;
        }

        &__text-bottom {
            margin-bottom: 40px;
        }

        &__link {
            @extend %btnred;
        }
    }
}

.stages {
    margin-top: 0;
    padding-bottom: 80px;
    background-color: #F5F9FF;

    &__inner {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
    }

    &__cart {
        display: flex;
        padding: 40px 24px;
        background-color: #FFFFFF;
        box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.04);
        border-radius: 16px;
    }

    .center {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 32px;
            height: 2px;
            background-color: $blue;
            top: 50%;
            left: -32px;
        }

        &::before {
            position: absolute;
            content: "";
            width: 32px;
            height: 2px;
            background-color: $blue;
            top: 50%;
            right: -32px;
        }
    }

    .before {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 2px;
            height: 32px;
            background-color: $blue;
            bottom: -32px;
            right: 190px;
        }
    }

    &__cart-icon {
        margin-right: 28px;
        width: 64px;
        height: 64px;
    }

    &__process {
        font-size: 20px;
        line-height: 28px;
    }

    &__link {
        @extend %btnred;
        grid-column: span 3;
    }
}

.client {
    padding: 80px 0;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 32px;

        .order {
            background-color: #4C70B5;

            .client__content {
                color: #fff;
            }

            .client__content-title {
                margin-bottom: 20px;
            }

            .client__link {
                padding: 16px 40px;
                border: 1px solid #4C70B5;
                border-radius: 8px;
                align-items: center;
                margin: 0 auto;
                color: $blue;
                transition: all .3s;
                text-align: center;
                background-color: #fff;
                font-size: 14px;
                line-height: 20px;
            }

            .client__img {
                width: 36%;
                margin-right: 20px;
                object-fit: contain;
            }
        }
    }

    &__item {
        background-color: #F5F9FF;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
    }

    &__content {
        padding: 32px;
    }

    &__content-title {
        @extend %manrope-400;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 21px;
    }

    &__img {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        width: 30%;
    }
}

.customers {
    padding: 40px 0 80px;
    @extend %slider;

    .swiper {
        max-width: 1230px;
        margin: 0 auto;
        position: initial;
    }

    &__slider-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 12px;
        padding: 32px 0;
        background-color: #FFFFFF;
        box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.04);
        border-radius: 16px;
        // min-height: 292px;
    }
}

.comments {
    padding: 80px 0;
    background-color: #F5F9FF;
    @extend %slider;

    .swiper {
        max-width: 1230px;
        margin: 0 auto;
        position: initial;
    }

    &__slider-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
        min-height: 368px;
    }

    &__slider-item {
        display: flex;
        justify-content: space-between;
        padding: 18px;
        padding-bottom: 24px;
        background-color: #FFF;
        box-shadow: 10px 10px 40px rgba(32, 32, 32, 0.04);
        border-radius: 16px;
        max-width: 368px;
    }

    &__img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        margin-right: 16px;
    }

    .box {

        &__name {
            @extend %manrope-700;
            color: $blue;
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 8px;
        }

        &__post {
            display: block;
            font-size: 16px;
            line-height: 24px;
            color: $default;
        }

        &__date {
            display: block;
            margin-bottom: 8px;
        }

        &__text {
            margin-bottom: 16px;
        }

        &__link {
            display: block;
            color: $blue;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__form {
        margin-top: 120px;
        padding-bottom: 80px;
        display: flex;
        width: 100%;
        background-color: #fff;
        border-radius: 16px;

    }

    &__form-title {
        margin-bottom: 20px;
    }

    &__form-box {
        padding: 40px 0 0 40px;
    }

    &__form-text {
        margin-bottom: 24px;
    }

    &__form-label {
        display: block;
        margin-bottom: 24px;
        width: 100%;
    }

    &__form-input {
        display: block;
        width: 100%;
        border: 1px solid #C2C2C2;
        border-radius: 4px;
        color: #C2C2C2;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 12px;
        cursor: pointer;

        &::placeholder {
            opacity: 1;
            transition: opacity 0.5s ease;
        }

        &:focus::placeholder {
            opacity: 0;
            transition: opacity 0.5s ease;
        }

    }

    &__form-checkbox {
        display: block;
        width: 100%;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 24px;
        position: relative;

        .checkbox-link {
            display: inline-block;
            font-size: 12px;
            line-height: 20px;


            &:hover {
                text-decoration: underline;
            }

            .checkbox {
                display: block;
                position: absolute !important;
                bottom: 0;
                width: 16px;
                height: 16px;
            }
        }
    }

    &__form-btn {
        display: block;
        color: #fff;
        background-color: $accent;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid transparent;
        font-size: 16px;
        line-height: 20px;
        padding: 14px 40px;
        transition: all .3s;

        &:hover {
            color: $accent;
            background-color: #fff;
            border: 1px solid #D44D60;
            padding: 14px 40px;
        }
    }

    &__form-img {
        width: 50%;
        object-fit: contain;
    }
}

.footer {
    background-color: #EDEFF3;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 244px;
        height: 90px;
        background-image: url(../images/triangle.png);
        background-repeat: no-repeat;
        bottom: 0;
        right: 50%;
    }


    &__list {
        display: flex;
        padding: 64px 0;
    }

    &__logo {
        margin: 24px 80px 24px 0;
    }

    &__img {
        max-width: 119px;
        height: 168px;
    }

    &__items {
        margin-right: 80px;
    }


    &__copy {
        @extend %roboto-700;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 16px;
        min-width: 280px;
    }

    &__contacts {
        padding-left: 32px;
    }

    &__contacts-email {
        color: $blue;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../images/icons/mail.svg);
            left: -32px;
            top: 12px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__contacts-phone {
        color: $blue;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../images/icons/phone.svg);
            left: -32px;
            top: 8px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        display: block;
        font-size: 12px;
        line-height: 14px;
        color: #7C7C7C;
        margin-bottom: 16px;
        margin-top: 4px;
    }

    &__contacts-adress {
        color: $blue;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../images/icons/adress.svg);
            left: -32px;
            top: 8px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .nav {
        min-width: 210px;

        &__item {
            margin-bottom: 16px;
        }

        &__link {
            font-size: 14px;
            line-height: 16px;
            @extend %roboto-300;
            color: $default;
            transition: all .3s;

            &:hover {
                color: $accent;
            }
        }
    }

    .form {
        width: 304px;

        &__title {
            font-size: 20px;
            line-height: 26px;
            @extend %manrope-700;
            margin-bottom: 16px;
        }

        &__text {
            font-size: 14px;
            line-height: 20px;
            color: #7C7C7C;
            margin-bottom: 18px;
        }

        &__input {
            width: 100%;
            padding: 16px 0 16px 12px;
            display: block;
            margin-bottom: 18px;
            min-width: 304px;
            background-color: #FFFFFF;
            border: 1px solid #C2C2C2;
            border-radius: 4px;
        }

        &__btn {
            display: block;
            color: #fff;
            background-color: $accent;
            border-radius: 8px;
            cursor: pointer;
            border: 1px solid transparent;
            font-size: 16px;
            line-height: 20px;
            padding: 14px 40px;
            transition: all .3s;

            &:hover {
                color: $accent;
                background-color: #fff;
                border: 1px solid #D44D60;
            }
        }
    }
}







@import 'media';